streamlit
PyMuPDF
pandas
openpyxl
tiktoken
openai
python-dotenv
langchain
langchain-community
langchain-astradb
astrapy
tqdm
tenacity
flask
flask-cors
requests
transformers
torch
accelerate
sentence-transformers